* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 8%;
  gap: 40px;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}




#cta {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 3rem;
    color: #1d1d1d;
}

#cta .title span {
    color: lightsalmon;
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #1d1d1d;
}

#phone_button {
    display: flex;
    gap : 8px ;
    align-items: center;
    background-color: #ffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button{
    box-shadow: none;
}

#banner {
    position: relative; /* ou absolute se preferir */
    z-index: 10; /* maior que os shapes */
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* para dar espaço entre banner e conteúdo */
}

#banner img {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: contain;
}

.shape {
    background-color: #f7c9a2;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 0;

}

.shape_bola {
    background-color: lightsalmon;
    width: 20vw;   /* 20% da largura da tela */
    height: 20vw;  /* igual à largura */
    position: absolute;
    border-radius: 50%;
    top: 90px;
    right: 0;
    z-index: 0;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }
    #home .shape_bola {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #phone_button button {
        display: none;
    }

}


