#testimonials {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 48px;
}

#testimonial_chef {
    width: 500px;
    height: auto;
}

.feedbacks {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.feedback-content {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;           
    border-radius: 12px;
    padding: 12px;                 
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15); 
}


#feedback-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  object-fit: cover;
  z-index: 1;
}


#feedback-avatar::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle at top left, #ff7a7a, #7ad3ff);
  left: -5px;
  top: -5px;
  z-index: 0;
}

#testimonials .section-subtitle {
    font-size: 3rem;
}

#testimonials_content {
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap : 20px ;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-content p {
    justify-content: space-between; 
    display: flex;
    align-items: center;           
    margin: 0;
    color: black;
}

.feedback-content p span {
    color: lightsalmon;
    justify-content: space-between;
    display: flex;          /* deixa as estrelas na horizontal */
    gap: 4px;               /* espaço entre as estrelas */
}


button, 
.btn {
  background-color: lightsalmon; /* cor de fundo */
  color: white;                  /* cor do texto */
  padding: 12px 24px;            /* altura/largura do botão */
  font-size: 1rem;               /* tamanho da fonte */
  border: none;                  /* remove borda padrão */
  border-radius: 8px;            /* bordas arredondadas */
  cursor: pointer;               /* mãozinha ao passar o mouse */
  transition: all 0.3s ease;     /* efeito suave */
}

button:hover,
.btn:hover {
  background-color: salmon; /* cor ao passar o mouse */
  transform: scale(1.05);   /* efeito de leve aumento */
}

@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #testimonials_chef {
        display: flex;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .feedback {
        flex-direction: column;
    }
    
}